<div id="confirm-box" class="dialog">
    <header>
        <span class="title"></span>
    </header>
    <section>
        <p class="confirm-text"></p>
    </section>
    <footer>
        <button class="btn" data-action="ok">Ok</button>
        <button class="btn" data-action="close">Cancel</button>
    </footer>
</div>
