@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/admin/site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-0.5.3.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/Scripts/knockout-2.1.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/lib/ajaxDataAccess.js"></script>
    <script src="~/Areas/Admin/Scripts/resources.js"></script>
    <title>_layout</title>

</head>
<body>
    <div class="notification">
        <header>
            <h3>Notification</h3>
        </header>
        <section>
            <p>This is a notification!</p>
        </section>
        <footer>
            <button class="btn-small btn-primary">Action</button>
        </footer>
    </div>
    <div class="row-fluid">
        <header class="main">
            <h1>Admin</h1>
            @if (User.Identity.IsAuthenticated)
            {
                <section id="main-controls" class="controls">
                    <img src="~/Content/icons/mail.png" />
                    <span data-bind="if: hasUnread">
                        <div class="unread" data-bind="text: unreadCount"></div>
                    </span>
                </section>
            }
        </header>
    </div>
    <div>
        <aside class="main">
            @if (User.Identity.IsAuthenticated)
            {
                <nav id="menu">
                    <header>Menu</header>
                    <ul>
                        <li><a href="/admin/general/index">General</a></li>
                        <li><a href="#/music/1">Music</a></li>
                        <li><a href="#/music/2">Videos</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="/admin/events/index">Events</a></li>
                        <li><a href="#">Pictures</a></li>

                    </ul>
                </nav>
            }
        </aside>
        <section id="main" class="main">
            @RenderBody()
        </section>
    </div>
    <div>
    </div>

    <script type="text/javascript">
        Resources.token = '@Token';



        if(Resources.token == ""){
            $.connection.hub.start().done(function () {

            });

            $.connection.adminHub.redirect = function (url) {
                document.location = url;
            };
        }
        
        var controlsViewModel;
        $(function () {
            if (Resources.token !== '') {
                controlsViewModel = new ControlsViewModel();
                ko.applyBindings(controlsViewModel, document.getElementById('main-controls'));
            }
        });
        function ControlsViewModel() {
            var self = this;
            self.unreadNotifications = ko.observableArray([]);
            self.hasUnread = ko.computed(function () {
                return self.unreadNotifications().length > 0;
            })
            self.unreadCount = ko.computed(function () {
                return self.unreadNotifications().length;
            });

            var notificationDataAccess = new AjaxDataAccess();
            notificationDataAccess.get("/api/v1/notification", function (data) {
                self.unreadNotifications.push(data);
            });

            $.connection.adminHub.notify = function (message) {
                self.unreadNotifications.push(message);

                var apiDataAccess = new AjaxDataAccess();

                var notificationBox = $(".notification");
                notificationBox.find("h3").text(message.Title);
                var content = notificationBox.find("section");
                content.text(message.Content);
                notificationBox.find("button").text(message.CancelText);
                content.click(function () {
                    apiDataAccess.create(message.AcceptAction, {}, function () {
                        console.log('done');
                    });
                });
                notificationBox.fadeIn(200, function () {
                    setTimeout(function () {
                        notificationBox.fadeOut(800);
                    }, 15000);
                });
            };
        }

        ko.bindingHandlers.displaySaveSuccess = {
            update: function (element, valueAccessor, allBindingsAccessor) {
                var saveOverlay = $(element).find(".save-overlay");

                if (valueAccessor()) {
                    saveOverlay.fadeIn(100);
                }
                else {
                    saveOverlay.fadeOut(800);
                }

            }
        };
    </script>
    @RenderSection("scripts", false)
</body>
</html>
