@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/admin/site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/knockout-2.1.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/lib/ajaxDataAccess.js"></script>
    <title>_layout</title>
   
</head>
<body>

        <div class="row-fluid">
            <header class="main">
                <h1>Admin</h1>
            </header>
        </div>
        <div>
            <aside class="main">
                @if(User.Identity.IsAuthenticated){
                    <nav id="menu">
                        <header>Menu</header>
                        <ul>
                            <li><a href="/admin/general/index">General</a></li>
                            <li><a href="#/music/1">Music</a></li>
                            <li><a href="#/music/2">Videos</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Pictures</a></li>

                        </ul>
                    </nav>
                    }
            </aside>
            <section class="main">
                @RenderBody()
            </section>
    </div>
    <div>
    </div>
    
    <script type="text/javascript">
        var constants = {
            token: '@Token'
        }
    </script>
    @RenderSection("scripts", false)
</body>
</html>
