@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/admin/site.css" rel="stylesheet" />
    @if (!User.Identity.IsAuthenticated)
    {
        <link href="~/Content/admin/anonymous.css" rel="stylesheet" />
    }
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jsuri-1.1.1.min.js"></script>
    <script src="~/Scripts/lib/ajaxDataAccess.js"></script>
    <script src="~/Scripts/amplify.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Areas/Admin/Scripts/resources.js"></script>
    <script src="~/Areas/Admin/Scripts/dialog.js"></script>
    <script src="~/Scripts/jquery.signalR-0.5.3.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/Scripts/knockout-2.1.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    
    
    <script src="~/Areas/Admin/Scripts/ko.extensions.js"></script>
    <title>_layout</title>

</head>
<body>
    <div class="notification">
        <header>
            <h3>Notification</h3>
        </header>
        <section>
            <p>This is a notification!</p>
        </section>
        <footer>
            <button class="btn-small btn-primary">Action</button>
        </footer>
    </div>
    <div class="row-fluid">
        <header class="main">
            <h1>Admin</h1>
            @if (User.Identity.IsAuthenticated)
            {
                <section id="main-controls" class="controls">
                    <img src="~/Content/icons/mail.png" />
                    <span data-bind="if: hasUnread">
                        <div class="unread" data-bind="text: unreadCount"></div>
                    </span>
                </section>
            }
        </header>
    </div>
    <div>
        <aside class="main">
            @if (User.Identity.IsAuthenticated)
            {
                <nav id="menu">
                    <header>Menu</header>
                    <ul>
                        <li><a href="/admin/authenticate/selectartist">Select artist</a></li>
                        <li><a href="/admin/general/index">General</a></li>
                        <li><a href="/admin/music/index">Music</a></li>
                        <li><a href="#/music/2">Videos</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="/admin/events/index">Events</a></li>
                        <li><a href="#">Pictures</a></li>
                        <li><a href="/admin/external/lastfm">External services</a></li>

                    </ul>
                </nav>
            }
        </aside>
        <section id="main" class="main">
            @RenderBody()
        </section>
    </div>
    <div>
    </div>

    <script type="text/javascript">
    </script>

    <script src="~/Areas/Admin/Scripts/ko.vm.controls.js"></script>
    @RenderSection("scripts", false)
    <script type="text/javascript">
        console.log('setting token to @Token');
        Resources.token = '@Token';

        Startup.registerSignalR(function () {
            $.connection.userConnectionHub.disconnected = function () {
                console.log('logged out');
            };
            $.connection.userConnectionHub.connected = function () {
                console.log('connected');
            };
        });


        $(function () {
            $.each(Startup.startFunctions, function (i, func) {
                func();
            });
        });


    </script>
    @RenderSection("dialogs", false)
    @Html.Partial("_Confirm")
</body>
</html>
