body {
    margin: 0;
    padding: 0;
}


h1, h2, h3, h4, h5 {
    font-weight: bold;
    margin: 0 0 .5em;
    line-height: 1em;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 13px;
}

.container-fluid {
    padding: 0;
}



section.main {
    background-color: #E2E6EB;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 200px;
    top: 70px;
    z-index: 100;
    padding: 0 20px;
    border: 2px solid #efefef;
    -webkit-box-shadow: -2px 0px 20px 0px rgba(1, 1, 1, 0.5);
    box-shadow: -2px 0px 20px 0px rgba(1, 1, 1, 0.5);
    -webkit-border-radius: 5px 0px 0px 0px;
    border-radius: 5px 0px 0px 0px;
}

    section.main header {
        color: #555;
        padding-left: 2px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 10px;
    }

aside.main {
    position: absolute;
    top: 80px;
    bottom: 0;
    width: 200px;
    background-color: #515E68;
}

    aside.main nav header {
        font-size: 11px;
        text-transform: uppercase;
        color: #E7ECF1;
        background: #70818D;
        height: 25px;
        line-height: 25px;
        padding: 0 22px;
        margin: 0;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
        background: #7D8F9D;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125, 143, 157, 1)), color-stop(100%,rgba(99, 114, 125, 1)));
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d8f9d', endColorstr='#63727d',GradientType=0 );
        border-top: 1px solid #C8CFD6;
        border-bottom: 1px solid #272C31;
    }

    aside.main nav ul {
        list-style-type: none;
        position: absolute;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
    }

        aside.main nav ul li {
            margin: 0;
            padding: 0;
            position: relative;
            z-index: 0;
            line-height: 37px;
            height: 37px;
            background: url('/content/admin/navigation-normal.png') repeat-x;
        }

            aside.main nav ul li a {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 166px;
                height: 37px;
                line-height: 37px;
                font-size: 13px;
                color: white;
                font-weight: bold;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
                padding: 0 12px 0 20px;
            }


                aside.main nav ul li a:hover {
                    text-decoration: none;
                    background: url('/content/admin/navigation-hover.png') no-repeat;
                }

                img.social {
                    height: 24px;
                    width: 24px;
                }
input.text {
    font-size: 15px;
    height: 18px;
}
input.text, textarea {
    background: #FAF9F3;
    border: 1px solid #D6D6D6;
    padding: 3px;
    margin: 0;
}

.center {
    position: relative;
    left: auto;
    right: auto;
}

input.text.icon {
    padding: 3px 3px 3px 30px;
    background-repeat: no-repeat; 
}

input.text.icon.facebook {
    background-image: url(/content/images/social/24x24/24x24-facebook.png);
}


input.text.icon.twitter {
    background-image: url(/content/images/social/24x24/24x24-twitter.png);
}


input.text.icon.lastfm {
    background-image: url(/content/images/social/24x24/24x24-lastfm.png);
}


input.text.icon.gplus {
    background-image: url(/content/images/social/24x24/24x24-gplus.png);
}

input.text.icon.youtube {
    background-image: url(/content/images/social/24x24/24x24-youtube.png);
}


input.text.icon.linkedin {
    background-image: url(/content/images/social/24x24/24x24-linkedin.png);
}


input.text.icon.myspace {
    background-image: url(/content/images/social/24x24/24x24-myspace.png);
}


div.module {
    -webkit-box-shadow: -2px 0px 20px 0px rgba(1, 1, 1, 0.5);
    box-shadow: -2px 0px 20px 0px rgba(1, 1, 1, 0.5);
    -webkit-border-radius: 5px 0px 0px 0px;
    border-radius: 5px;
    font-size: 12px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
}

    div.module h3 {
        height: 28px;
        line-height: 28px;
        padding: 0 13px;
        margin: 0;
        color: #5E646D;
        text-shadow: 0 1px 1px white;
        border: 1px solid #B6BEC4;
        border-bottom: 1px solid #99A0A5;
        box-shadow: inset 0 1px 0 white;
        border-radius: 5px 5px 0 0;
        background: #F1F2F4;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F1F2F4), color-stop(100%,#D9DCDF));
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f2f4', endColorstr='#d9dcdf',GradientType=0 );
    }

    div.module section.content {
        background: white;
        border: 1px solid #B6BEC4;
        border-top: none;
        padding: 22px;
        border-radius: 0 0 5px 5px;
    }

header.main {
    background: url(/content/admin/header-bg.png) repeat-x;
    padding: 5px 20px;
    height: 80px;
}

    header.main h1 {
        color: white;
        text-shadow: 2px 2px 2px #222;
        filter: dropshadow(color=#222, offx=2, offy=2);
    }
