@{
    ViewBag.Title = "Admin - Main";
}

<header>
    <h2>Page header</h2>
</header>
@section scripts{
    
}
<div class="container-fluid">
    <div class="row-fluid">

        <div class="span8 module">
            <h3>General settings</h3>
            <section class="content"></section>
        </div>

        <div class="span4 module">
            <h3>Social networks</h3>
            <section class="content">
                <p class="text">
                    <input class="text icon facebook" data-bind="val: facebook" type="text" placeholder="http://www.facebook.com/" /><em class="help-inline">Link to your facebook-page</em>
                </p>
                <p class="text">
                    <input class="text icon twitter" data-bind="val: twitter" type="text" placeholder="@(string.Format("@username"))" /><em class="help-inline">Your Twitter username</em>
                </p>
                <p class="text">
                    <input class="text icon gplus" data-bind="val: gplus" type="text" placeholder="http://plus.google.com/" /><em class="help-inline">Link to your Google+ page</em>
                </p>
                <p class="text">
                    <input class="text icon linkedin" data-bind="val: linkedin" type="text" placeholder="http://www.linkedin.com/" /><em class="help-inline">Link to your LinkedIn profile</em>
                </p>
                <p class="text">
                    <input class="text icon lastfm" data-bind="val: lastfm" type="text" placeholder="http://www.last.fm/" /><em class="help-inline">Link to your LastFM profile</em>
                </p>
                <p class="text">
                    <input class="text icon youtube" data-bind="val: youtube" type="text" placeholder="http://www.youtube.com" /><em class="help-inline">Link to your Youtube page</em>
                </p>

            </section>
        </div>
    </div>

</div>
