@{
    ViewBag.Title = "Admin - Main";
}

<header>
    <h2>Page header</h2>
</header>
@section scripts{
    <script src="~/Areas/Admin/Scripts/ko.vm.general.js"></script>

}


<div class="container-fluid">
    <div class="row-fluid">

        <div class="span8 module" data-bind="with: general">

            <h3>General settings</h3>
            <section class="content" data-bind="displaySaveSuccess: saving()">
                <div class="save-overlay">
                    <div class="backdrop"></div>
                    <div class="image"></div>
                        
                </div>
                <p>
                    <label for="name">Name</label>
                    <input type="text" name="name" data-bind="value: name" />
                </p>
                <p>
                    <label for="email">Email</label>
                    <input type="text" name="email" data-bind="value: email" />
                </p>
                <p>
                    <label for="phone">Phone</label>
                    <input type="text" name="phone" data-bind="value: phone" />
                </p>
                <p>
                    <label for="bio">Name</label>
                    <textarea name="bio" data-bind="value: bio"></textarea>
                </p>
                <p>
                    <button class="btn" data-bind="click: save, enabled: !loading()">Save</button>
                </p>
            </section>
        </div>

        <div class="span4 module">
            <h3>Social networks</h3>
            <section class="content">
                
                <button class="btn-success" data-dialog="test-dialog" id="dialog">Open dialog</button>
                
                
       

                
                <table>
                    <thead>
                        <tr>
                            <th>Heading</th>
                            <th>Heading</th>
                            <th>Heading</th>
                            <th>Heading</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Item 1</td>
                            <td>Item 1</td>
                            <td>Item 1</td>
                            <td>Item 1</td>
                        </tr>
                        <tr>
                            <td>Item 2</td>
                            <td>Item 3</td>
                            <td>Item 4</td>
                            <td>Item 5</td>
                        </tr>
                    </tbody>

                </table>

                @*     <p class="text">
                    <input class="text icon facebook" data-bind="val: facebook" type="text" placeholder="http://www.facebook.com/" /><em class="help-inline">Link to your facebook-page</em>
                </p>
                <p class="text">
                    <input class="text icon twitter" data-bind="val: twitter" type="text" placeholder="@(string.Format("@username"))" /><em class="help-inline">Your Twitter username</em>
                </p>
                <p class="text">
                    <input class="text icon gplus" data-bind="val: gplus" type="text" placeholder="http://plus.google.com/" /><em class="help-inline">Link to your Google+ page</em>
                </p>
                <p class="text">
                    <input class="text icon linkedin" data-bind="val: linkedin" type="text" placeholder="http://www.linkedin.com/" /><em class="help-inline">Link to your LinkedIn profile</em>
                </p>
                <p class="text">
                    <input class="text icon lastfm" data-bind="val: lastfm" type="text" placeholder="http://www.last.fm/" /><em class="help-inline">Link to your LastFM profile</em>
                </p>
                <p class="text">
                    <input class="text icon youtube" data-bind="val: youtube" type="text" placeholder="http://www.youtube.com" /><em class="help-inline">Link to your Youtube page</em>
                </p>*@

            </section>
        </div>
    </div>

</div>

@section dialogs
{
    
    <div id="test-dialog" class="dialog">
        <header>
            Create a new event
        </header>
        <section>
            <p>
                <label for="title">Event Title</label>
                <input type="text" name="title" />
            </p>
                        <p>
                <label for="start">Date and time</label>
                <input type="text" name="start" />
            </p>
        </section>
        <footer>
            <button class="btn">Ok</button>
            <button class="btn">Cancel</button>
        </footer>
    </div>
    }