@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@section dialogs{
    <div id="new-event" class="dialog">
    <header>
        Authenticate with Flickr
    </header>
    <section>
        <iframe id="flickrAuth">
            
        </iframe>
    </section>
    @*<footer>
            <button class="btn" data-action="close">Cancel</button>
        </footer>*@
</div>

}

@section scripts
{
    
    

}
