    <div id="new-event" class="dialog">
        <header>
            Create a new event
        </header>
        <section>
            <div class="event-source-selector clearfix">
                <div class="selector">
                    <strong>Import from Facebook</strong>
                    <img src="~/Content/images/social/128x128/128x128-facebook.png" />
                    <p>Select this if the event already exists on Facebook, and you just want to import it.</p>
                </div>    
                <div class="selector">
                    <strong>Create from scratch</strong>
                    <img src="~/Content/images/add-event.png" />
                    <p>If you haven't created the event on either Last.fm or Facebook, begin from scratch by clicking here.</p>
                </div>
           
            </div>
            
        </section>
        @*<footer>
            <button class="btn" data-action="close">Cancel</button>
        </footer>*@
    </div>