@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button class="btn-primary" data-dialog="new-event" id="dialog">Add a new event</button>


@section dialogs
{
    
    @Html.Partial("_NewEvent")

    }



